In [5]:
a = [1,[1,2],2,3,4]

for x in a:
    print(x)
    print(type(x))

1
<class 'int'>
[1, 2]
<class 'list'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>

In [6]:
# Different itterable object different types of object

In [4]:
name = "Saksham"
for char in name:
    print(type(char))
    print(char)

<class 'str'>
S
<class 'str'>
a
<class 'str'>
k
<class 'str'>
s
<class 'str'>
h
<class 'str'>
a
<class 'str'>
m

In [7]:
for line in open("something.txt","r"):
    print("Line:")
    print(line)

Line:
Hello

Line:
my name

Line:
is

Line:
Saksham

In [13]:
".".join(("a","b","c"))
# a string is returned that is joined via use of "." in between every char

'a.b.c'

In [14]:
d = {"name":"jatin","lastname":"katyal","marks":80}
for keys in d:
    print(keys)

name
lastname
marks

In [15]:
# When we itterate over the dictionary it returns the key while returning the keys it joins the keys using "."

".".join(d)

SyntaxError: invalid syntax (<ipython-input-15-b7fdfd8539f3>, line 1)

In [16]:
a = list("jatin")
# here it itterates over the string and appends each element of this list and use it to form a list

In [17]:
a

['j', 'a', 't', 'i', 'n']

In [18]:
a = {1,2,3,4}
sum(a)
# it takes an itterable object itterate over it expect that each element
# of that itterable is an int/float(or any numeral value) and sums over it

10

In [19]:
type(0.0)

float

In [20]:
a={1,2,3,4.4}

In [21]:
sum(a)

10.4

In [22]:
#######Very important example#########
b = {1:"Machine",2:"Learning",3:"Coding Blocks"}
sum(b)
# it's giving 6 as the output as on itteration of any dictionary it returns
# all the keys of the dictionary and on adding them here it comes out to be 6

6

In [23]:
list_str =["Saksham","Verma"]
sum(list_str)
# unsupported operand type(s) for +: 'int' and 'str'

TypeError: unsupported operand type(s) for +: 'int' and 'str'